@model List<Report>

@{
    Layout = null;
}

<table class="table table-bordered table-striped table-dark tableCustom">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Mesaj</th>
            <th>Gönderen</th>
            <th>Tarih</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Email</td>
                <td>@item.DateCreated</td>
                <td><a class="btn btn-danger text-black fw-bold" onclick="confirmDeleteRep('@item.Id')">Sil</a></td>

            </tr>

        }
    </tbody>
</table>